# ASSIGNMENT 2 [ DATA STRUCTURE ]

1)What are data structures, and why are they important?

 
 answer:- Data structures are ways to
store and organize data. They help us work with data easily and make programs faster.

2)Difference between mutable and immutable data types with examples?

answer:- Mutable means we can change the value (like lists). Immutable means we cannot change
the value (like strings or tuples). Example: list = [1, 2] (mutable), tuple = (1, 2) (immutable)

3)Lists vs Tuples in Python?

Answer:- Lists can change (mutable), tuples cannot (immutable).
Lists use [], tuples use ().

4)How dictionaries store data?

answer:- They store data in key-value pairs. Each key points to a
value.

5)Why use a set instead of a list?

 answer:-Sets don’t allow duplicates and are faster for checking if
an item is there

6)What is a string in Python, and how is it different from a list?

 answer:-A string is a group of
characters. It is immutable. A list can hold different data types and is mutable.

7)How do tuples ensure data integrity?

answer:-Since tuples can’t be changed, the data stays safe
and fixed.

9)Can lists have different data types?

answer:-Yes, lists can have numbers, strings, etc., all in one
list.

10)Why are strings immutable in Python?

answer:- So that they don’t change by mistake. This
also helps make the program faster and safer.

11)Advantages of dictionaries over lists?

 answer:- Dictionaries are better for looking up values using
a key, which is faster than searching in a list

12)When to use a tuple instead of a list:

answer:-When you don’t want the data to change, like
fixed coordinates

13)How do sets handle duplicates?

answer:-Sets automatically remove duplicates. Only unique
items are stored.

14)How “in” works in lists vs dictionaries?

answer:-In a list, it checks for the value. In a dictionary,
it checks for the key.

15)Can you modify elements in a tuple?

 answer:-No, tuples cannot be changed. That’s why they
are immutable

16)What is a nested dictionary? Example?

answer:-A dictionary inside another dictionary. Example: {“person”: {“name”: “John”, “age”: 30}}

17)Time complexity of accessing dictionary elements?

answer:-It’s usually O(1), which means very
fast

18)When are lists better than dictionaries? 

answer:-When you just need to store items in order
and don’t need key-value pairs

19)Why are dictionaries unordered? 

answer:-They are stored using hashes, not by position. So you
can’t rely on the order.

20)List vs dictionary for data retrieval?

answer:-Lists use index numbers to get values. Dictionaries
use keys to get values, which is faster.

# PRACTICAL QUESTIONS

In [51]:
#1)Write a code to create a string with your name and print it?
print("VIKAS")

VIKAS

In [53]:
#2)Write a code to find the length of the string "Hello World"?
print(len("hello world"))

11

In [55]:
#3)Write a code to slice the first 3 characters from the string "Python␣↪Programming"?
print("Python Programming"[0:3])

Pyt

In [57]:
 #4)Write a code to convert the string "hello" to uppercase?
print("hello".upper())

HELLO

In [61]:
#5)Write a code to replace the word "apple" with "orange" in the string "I like␣↪apple
l=("i like apple")
l.replace("apple","orange")

'i like orange'

In [63]:
 #6)Write a code to create a list with numbers 1 to 5 and print it?
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

In [65]:
#7)Write a code to append the number 10 to the list [1, 2, 3, 4]?
list=[1,2,3,4]
list.append(10)

In [67]:
list

[1, 2, 3, 4, 10]

In [69]:
#8)Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
l=[1,2,3,4,5]
l.remove(3)

In [71]:
l

[1, 2, 4, 5]

In [73]:
#9)Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
l=["a","b","c","d"]
print(l[1])

b

In [75]:
#10)Write a code to reverse the list [10, 20, 30, 40, 50]?
number=[10,20,30,40,50]
number.reverse()
print(number)

[50, 40, 30, 20, 10]

In [77]:
 #11)Write a code to create a tuple with the elements 100, 200, 300 and print it?
t=(100,200,300)
print(t)

(100, 200, 300)

In [81]:
#12)Write a code to access the second-to-last element of the tuple ('red','green', 'blue', 'yellow')?
t=('red','green','yellow')
print(t[-2])

green

In [83]:
#13)Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
t=(10,20,5,15)
print(min(t))

5

In [85]:
#14)Write a code to find the index of the element "cat" in the tuple ('dog',␣'cat', 'rabbit')?
animal=("dog","cat","rabbit")
print(animal.index("cat"))

1

In [87]:
#15)Write a code to create a tuple containing three different fruits and check␣if "kiwi" is in it.?
fruit=("apple","mango","watermelon")
print("kiwi"in t)

False

In [89]:
#16)Write a code to create a set with the elements 'a', 'b', 'c' and print it?
set=("a","b","c")
print(set)

('a', 'b', 'c')

In [91]:
#17)Write a code to clear all elements from the set {1, 2, 3, 4, 5}?
s={1,2,3,4,5}
s.clear()
print(s)

set()

In [93]:
#18)Write a code to remove the element 4 from the set {1, 2, 3, 4}?
set={1,2,3,4}
set.remove(4)
print(set)

{1, 2, 3}

In [95]:
#19)Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}?
set1={1,2,3}
set2={3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [97]:
#20)Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}?
set1={1,2,3}
set2={2,3,4}
print(set1.intersection(set2))

{2, 3}

In [101]:
#21)Write a code to create a dictionary with the keys "name", "age", and␣
↪"city", and print it?
d={"name":"Breez","age":21,"city":"new delhi"}
print(d)

Object `it` not found.
{'name': 'Breez', 'age': 21, 'city': 'new delhi'}

In [105]:
#22)Write a code to add a new key-value pair "country": "USA" to the dictionary␣{'name': 'John', 'age': 25}?
d={"name":"john","age":25}
d["country"]="usa"
print(d)

{'name': 'john', 'age': 25, 'country': 'usa'}

In [109]:
#23)Write a code to access the value associated with the key "name" in the␣dictionary {'name': 'Alice', 'age': 30}.?
d={'name': 'Alice', 'age': 30}
print(d["name"])

Alice

In [111]:
#24) Write a code to remove the key "age" from the dictionary {'name': 'Bob',␣'age': 22, 'city': 'New York'}?
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [113]:
#25) Write a code to check if the key "city" exists in the dictionary {'name':␣'Alice', 'city': 'Paris'}?
d={'name': 'Alice', 'city': 'Paris'}
print("city" in d)

True

In [117]:
#26)Write a code to create a list, a tuple, and a dictionary, and print them␣all?
l=[1,2]
t=(3,4)
d={"a":5}
print(l,t,d)

[1, 2] (3, 4) {'a': 5}

In [146]:
#27)Write a code to create a list of 5 random numbers between 1 and 100, sort␣it in ascending order, and print the result.(replaced)?
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [19, 75, 81, 91, 98]

In [148]:
#28) Write a code to create a list with strings and print the element at the␣third index?
l = ["apple", "banana", "cherry", "date"]
print(l[3])

date

In [150]:
#29) Write a code to combine two dictionaries into one and print the result?
d1 = {"a": 1}; d2 = {"b": 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

In [156]:
#30)Write a code to convert a list of strings into a set?
# List of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
print("Set of strings:", string_set)

TypeError: 'set' object is not callable